<!DOCTYPE html>
<html>
<head>
	<title>Solar Dairy</title>
</head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

<body>
	<header>
		<h1 style="text-align: center;">Solar Diary</h1>
	</header>
		<hr>
	<nav>
		<ul>
			<li><a href="">Checkout</a></li>
			<li><a href="">Planning Tool</a></li>
		</ul>
	</nav>

	<div class="cover">
	<form>
	<div class="center">
	<label for="powerRating" class="form-label">Solar Panel Power Rating</label>
	<input type="text" name="powerRating" class="form-input">
	<input type="submit" name="submit" class="form-button">
	</div>

	</form>

	</div>

</body>
</html>
